:root {
    --pretoFundo: black;
    --linhaPagina: #343434;
    --cinzaFundo: #1E1E1E;
    --cinzaFundoEscuro: #141414;
    --amareloMain: #CA8B0C;
    --cinzaFormFundo: #343434;
}

* {
    padding: 0;
    margin: 0;
    font-family: Playfair;
}

body {
    background-color: var(--pretoFundo) !important;
}

nav {
    border-width: 15px;
}

.logo-user {
    width: 101px;
    height: 28px;
    border-radius: 20px;
    background: #D9D9D9;
    flex-shrink: 0;
}

.botao-login {
    background-color: var(--pretoFundo);
    border-width: 0px;
}

.image-logo {
    width: 132px;
    height: 132px;
    aspect-ratio: 1/1;
    border-radius: 20px;
}

.first-page{
    padding-top: 70px;
    text-align: center;
    height: 720px;
}

.sub-titulo {
    color: white;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: normal;
    height: 48px;
    top: 357px;
    left: 151px;
}

h1 {
    font-size: 60px !important;
    color: var(--amareloMain) !important;
}

h2 {
    color: white !important;
    font-size: 35px !important;
}

.agendar {
    border-width: 0px;
    border-radius: 10px;
    background-color: var(--amareloMain);
    color: var(--pretoFundo);
    text-align: center;
    font-size: 25px;
    width: 247px;
    height: 49px;
    flex-shrink: 0;
}

.sect-servicos {
    background-color: #1E1E1E;
    align-items: center;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 1.5rem;
}

.cards-servicos {
    display: flex;
    flex-wrap: wrap;
    align-items: center !important;
    padding: 2rem;
    padding-inline: 0 !important;
    justify-content: center;
}

.card {
    margin-inline: 30px;
    width: 350px !important;
    background-color: var(--pretoFundo) !important;
    border-radius: 10px !important;
    border-color: var(--amareloMain) !important;
    border-width: 1px !important;
    text-align: start;
    color: white !important;
}

/*título do card*/
h5 {
    font-size: 25px !important;
    font-weight: normal !important;
    color: var(--amareloMain) !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*Preço do card*/
h6 {
    font-size: 25px !important;
    color: white !important;
    font-weight: 600 !important;
}

/*icone dos cards*/
.foto-elemento-card {
    width: 40px;
    height: 40px;
}

.sect-agendamento {
    background-color: var(--cinzaFundoEscuro);
    text-align: center;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.div-agendamento {
    margin-inline: 30rem;
    margin-top: 32px;
    margin-bottom: 1.5rem;
    display: grid;
    gap: 20px;
}

.agende-linha {
    background-color: var(--linhaPagina) !important;
    color: white !important;
    border-color: var(--amareloMain) !important;
    border-radius: 10px;
    border-width: 0.1px !important;
}

.agende-linha::placeholder{
    color: #3C5466 !important;
}

.agendar-seg {
    border-width: 0px;
    border-radius: 10px;
    background-color: var(--amareloMain);
    color: var(--pretoFundo);
    text-align: center;
    font-size: 20px;
    width: 350px;
    height: 38px;
}

.sect-nossa-barbearia{
    background-color: var(--cinzaFundoEscuro);
    text-align: center;
    padding: 3.5rem;
}

.imag-carrossel {
    margin-top: 3rem;
    width: 1080px;
    height: 480px;
}

.linha-divisoria {
    height: 1px;
    background-color: var(--amareloMain);
    margin: 0;
    width: 100%;
}

.sect-rodape {
    background-color: var(--cinzaFundoEscuro);
    display: flex;
    align-items: center;
    text-align: center;
    padding: 2rem;
    justify-content: center;
}

.cards-rodape {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    padding: 0.5rem;
    padding-inline: 0 ;
    justify-content: center;
    gap: 10rem;
}

.card-rodape {
    text-align: start;
    color: #54748B;
}


/* telas de até 320px (mobile S)*/
@media only screen and (max-width: 425px){

    .image-logo {
        width: 100px;
        height: 100px;
        aspect-ratio: 1/1;
        border-radius: 20px; 
    }       

    h1 {
        font-size: 50px !important;
        color: var(--amareloMain) !important;
        padding: 1rem;
    }

    .sub-titulo {
        color: white;
        text-align: center;
        align-items: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400 !important;
        line-height: normal;
        height: 100px;
        top: 357px;
        left: 151px;
        margin-bottom: 2rem !important;
    }

    .cards-servicos{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center !important;
        padding: 2rem;
        padding-inline: 0 !important;
        justify-content: center;
    }

    .sect-nossa-barbearia {
        padding-inline: 1rem;
        padding-bottom: 0;
    }

    .imag-carrossel {
        margin-top: 1rem;
        width: 300px;
        height: 200px;
    }

    .agende-linha {
        background-color: var(--linhaPagina) !important;
        color: white !important;
        border-color: var(--amareloMain) !important;
        border-radius: 10px;
        border-width: 0.1px !important;
        width: 250px !important;
    }

    .div-agendamento {
        margin-inline: 0;
        margin-top: 32px;
        margin-bottom: 1.5rem;
        display: grid;
        gap: 20px;
        justify-content: center;
    }

    .agendar-seg {
        border-width: 0px;
        border-radius: 10px;
        background-color: var(--amareloMain);
        color: var(--pretoFundo);
        text-align: center;
        font-size: 20px;
        width: 230px;
        height: 38px;
    }

    .cards-rodape {
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        padding: 0.5rem;
        padding-inline: 0 ;
        justify-content: center;
        gap: 1rem;
    }

    p {
        margin-bottom: 0 !important;
    }
}